@nestjs:registry=https://gitlab.pixelplexlabs.com/api/v4/packages/npm/
"//gitlab.pixelplexlabs.com/api/v4/packages/npm/:_authToken"="hywcB1zyq_11x9Czau7D"
"//gitlab.pixelplexlabs.com/api/v4/projects/:_authToken"="hywcB1zyq_11x9Czau7D"
@ppx-node:registry=https://gitlab.pixelplexlabs.com/api/v4/packages/npm/
"//gitlab.pixelplexlabs.com/api/v4/packages/npm/:_authToken"="hywcB1zyq_11x9Czau7D"
"//gitlab.pixelplexlabs.com/api/v4/projects/:_authToken"="hywcB1zyq_11x9Czau7D"